run = "streamlit run main.py, api.py, app.py"
modules = ["python-3.12", "web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40783381
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python api.py"
